* {
  font-family: "Oswald", serif;
  box-sizing: border-box; /* Ensures padding and border are included in element's total width and height */
  /* margin: 0;
  padding: 0; */
}

@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

.wrapper {
  max-width: 1200px;
  margin: 1rem auto;
  padding: 0 1rem;
  padding-bottom: 0;
}
html {
  padding: 0;
  scroll-behavior: smooth;
}

.font-oswald {
  font-family: "Oswald", serif;
}
